.time-info-container {
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.time-info-container span{
    margin: 3px auto 0 5px;
    padding-top: 6px;
}

#filter-name {
    font-size: 16px;
    margin: 15px auto 10px 10px;
}

#time-history {
    flex-direction: row;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

#time-history .company-element {
    width: 190px;
    height: 110px;
    border: solid 1px black;
    margin: 10px auto;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.searchContainer label {
    margin-top: 5px;
}

.searchContainer select {
    font-size: 13px;
    width: 150px;
    height: 29px;
}

.searchContainer input {
    font-size: 13px;
    width: 145px;
    height: 25px;
}

.time-frame {
    width: 452px;
    height: 85px;
    display: flex;
    margin: 2px;
    background: #80808038;
    border-radius: 8px;
}

.left-info-block {
    width: 65%;
    padding-left: 10px;
}

.date-time-info span:first-child {
    font-size: 18px;
    color: green;
}

.date-time-info span:last-child {
    font-size: 13px;
    color: dimgrey;
}

.doctor-info {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.doctor-info span:first-child {
    color: #1b5f95;
}

.doctor-info span:last-child {
    color: #08748c;
    font-size: 15px;
}

.right-info-block {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.client-info {
    display: flex;
    flex-direction: column;
}

.client-info span:first-child {
    font-size: 18px;
    color: #db5100;
}

.client-info span:last-child {
    font-size: 14px;
    color: #fd6742;
    margin-bottom: 5px;
}

.control-buttons-block {
    display: flex;
    height: 100%;
}

.control-buttons-block button {
    width: 125px;
    height: 30px;
    font-size: 16px;
    color: white;
    border: 2px solid rgba(128, 128, 128, 0.49);
    border-radius: 2px;
}

.visit-assign-button {
    background: #0e9310;
    margin: auto 0;
}

.visit-cancel-button {
    background: #6c6c6c;
}
