<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Clients</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/client-page.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/left-menu.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:600">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Marcellus">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/hospital-frontend.js"></script>
</head>
<body data-main-class="client">
    <div class="main">
        <div class="left-menu">
            <div class="fixed-menu">
                <a class="logo-block" href="/hospital">
                    <img src="/images/main.png" alt="Logo image">
                    <span>Hospital</span>
                </a>
                <a class="left-menu-element" href="/client">
                    <img src="/images/user.png" class="left-menu-image">
                    <span class="left-menu-link"> CLIENTS </span>
                </a>
                <a class="left-menu-element" href="/visit-time">
                <img src="/images/time.png" class="left-menu-image">
                <span class="left-menu-link"> VISIT TIME </span>
            </a>
            </div>
            <div id="data-form-place">
            </div>
        </div>
        <div class="left-menu-minimizer"></div>
        <div class="body">
            <div class="header">
                <span>Clients</span>
            </div>
            <div class="footer-actions">
                <a onclick="openDataForm(0, true);">
                    <img src="/images/add.png" class="left-menu-image">
                    <span>ADD NEW CLIENT</span>
                </a>
            </div>
            <div id="body-content" class="body-content">

            </div>
            <div class="footer">
                <div class="footer-block">
                    <a class="logo-block" href="/client">
                        <img src="/images/main.png" alt="Logo image">
                        <span>Hospital</span>
                    </a>
                </div>
                <div class="footer-block tsi-info">
                    <span>Ilja and Anastasija coursework for the <a href="https://www.tsi.lv/en" target="_blank">TTI university</a></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
