<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Visit Time</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/client-page.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/left-menu.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/visit-time.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:600">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Marcellus">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/hospital-frontend.js"></script>
</head>
<body data-main-class="visit-time" data-department-id="">
    <div class="main">
        <div class="left-menu">
            <div class="fixed-menu">
                <a class="logo-block" href="/hospital">
                    <img src="/images/main.png" alt="Logo image">
                    <span>Hospital</span>
                </a>
                <a class="left-menu-element" href="/client">
                    <img src="/images/user.png" class="left-menu-image">
                    <span class="left-menu-link"> CLIENTS </span>
                </a>
                <a class="left-menu-element" href="/visit-time">
                <img src="/images/time.png" class="left-menu-image">
                <span class="left-menu-link"> VISIT TIME </span>
            </a>
            </div>
            <div id="data-form-place">
            </div>
        </div>
        <div class="left-menu-minimizer"></div>
        <div class="body">
            <div class="header">
                <span id="page-title">Visit Time</span>
            </div>
            <div class="footer-actions" id="action-buttons">
                <div class="searchContainer">
                    <img src="/images/people.png" class="search-icon">
                    <h5>Doctor</h5>
                </div>
                <div class="searchContainer">
                    <label for="date_input">Date:</label>
                    <input id="date_input" type="date"/>
                    <label for="doctor_name">Doctor:</label>
                    <select id="doctor_name" name="doctor">
                        <option value=""></option>
                    </select>
                </div>
                <div class="searchContainer">
                    <label for="department_name">Department:</label>
                    <select id="department_name" name="doctor">
                        <option value=""></option>
                    </select>
                    <label for="Position_name">Position:</label>
                    <select id="Position_name" name="doctor">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div id="body-content" class="body-content">

            </div>
            <div class="footer">
                <div class="footer-block">
                    <a class="logo-block" href="/client">
                        <img src="/images/main.png" alt="Logo image">
                        <span>Hospital</span>
                    </a>
                </div>
                <div class="footer-block tsi-info">
                    <span>Ilja and Anastasija coursework for the <a href="https://www.tsi.lv/en" target="_blank">TTI university</a></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    $("#department_name").change(function() {
        $( "#department_name option:selected" ).each(function() {
            $("#body-content").html("");

            // removing other fields values
            $("#Position_name option").remove();
            $("#doctor_name option").remove();

            // loading that fit filter
            loadPositions($( this ).val());
            loadDoctors($( this ).val(), '');
        });
    });

    $("#Position_name").change(function () {
        $( "#Position_name option:selected" ).each(function() {
            $("#body-content").html("");
            // removing other fields values
            $("#doctor_name option").remove();

            // loading that fit filter
            loadDoctors('', $( this ).val());
        });
    });

    $( "#doctor_name").change(function() {
        $( "#doctor_name option:selected" ).each(function() {
            $("#body-content").html("");
            checkAndLoadTimeFrames();
        });
    });

    $("#date_input").change(function() {
        $("#body-content").html("");
        checkAndLoadTimeFrames();
    });

    function checkAndLoadTimeFrames() {
        if ($('#date_input').val() === '') {
            return;
        }

        var doctorId = $('#doctor_name option:selected').val();
        if (doctorId === '') {
            return;
        }

        var date = new Date($('#date_input').val());
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        var dateString = [day, month, year].join('/');

        loadTimeFrames(doctorId, dateString);
    }

    function loadTimeFrames(doctorId, dateString) {
        $.ajax({
            url: '/doctor/date-time/all',
            type: "post",
            data: "doctorId=" + doctorId + "&date=" + dateString,
            success: function (data) {
                if (data === 'Not Found!') {
                    alert('This data does not exist!');
                } else {
                    $("#body-content").html(data);
                }
            },
            error: function (e) {
                console.log("ERROR: ", e);
            }
        });
    }

    function loadDepartments() {
        $.ajax({
            url: '/departments/all',
            type: "post",
            // data: "id=" + id,
            success: function (data) {
                if (data === 'Not Found!') {
                    alert('This data does not exist!');
                } else {
                    $("#department_name").html(data);
                }
            },
            error: function (e) {
                console.log("ERROR: ", e);
            }
        });
    }

    function loadPositions(department) {
        $.ajax({
            url: '/positions/all',
            type: "post",
            data: "departmentId=" + department,
            success: function (data) {
                if (data === 'Not Found!') {
                    alert('This data does not exist!');
                } else {
                    $("#Position_name").html(data);
                }
            },
            error: function (e) {
                console.log("ERROR: ", e);
            }
        });
    }

    function loadDoctors(department, position) {
        $.ajax({
            url: '/doctors/all',
            type: "post",
            data: "departmentId=" + department + "&positionId=" + position,
            success: function (data) {
                if (data === 'Not Found!') {
                    alert('This data does not exist!');
                } else {
                    $("#doctor_name").html(data);
                }
            },
            error: function (e) {
                console.log("ERROR: ", e);
            }
        });
    }

    function openAssignVisitPopUp(doctorId, date, time) {
        $.ajax({
            url: '/visit-time/assign-form',
            type: "post",
            data: "doctorId=" + doctorId + "&date=" + date + "&time=" + time,
            success: function (data) {
                if (data === 'Not Found!') {
                    alert('This data does not exist!');
                } else {
                    $("#data-form-place").html(data);
                }
            },
            error: function (e) {
                console.log("ERROR: ", e);
            }
        });
    }

    function openAddNewClient() {
        $.ajax({
            url: '/client/form',
            type: "post",
            data: "clientId=0&adding=true",
            success: function (data) {
                if (data === 'Not Found!') {
                    alert('This data does not exist!');
                } else {
                    var formPlaceHtml = document.getElementById('data-form-place').innerHTML;
                    formPlaceHtml += data;
                    $("#data-form-place").html(formPlaceHtml);
                }
            },
            error: function (e) {
                console.log("ERROR: ", e);
            }
        });
    }

    function updateClientSelectTag(clientId) {
        $.ajax({
            url: '/client/visit-time/options',
            type: "post",
            data: "clientId=" + clientId,
            success: function (data) {
                if (data === 'Not Found!') {
                    alert('This data does not exist!');
                } else {
                    $("#clientSelectTag").html(data);
                }
            },
            error: function (e) {
                console.log("ERROR: ", e);
            }
        });
    }

    function cancelVisit(doctorId, date, time) {
        if (confirm('Are you sure ?')) {
            $.ajax({
                url: '/visit-time/cancel',
                type: "post",
                data: "doctorId=" + doctorId + "&date=" + date + "&time=" + time,
                success: function (data) {
                    if (data === 'Not Found!') {
                        alert('This data does not exist!');
                    } else {
                        loadTimeFrames(doctorId, date);
                    }
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                }
            });
        }
    }

    loadDepartments();
    loadPositions('');
    loadDoctors('', '');


</script>
