<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Visit Time</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/client-page.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/left-menu.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/visit-time.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:600">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Marcellus">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/hospital-frontend.js"></script>
</head>
<body data-main-class="visit-time" data-department-id="">
    <div class="main">
        <div class="left-menu">
            <div class="fixed-menu">
                <a class="logo-block" href="/hospital">
                    <img src="/images/main.png" alt="Logo image">
                    <span>Hospital</span>
                </a>
                <a class="left-menu-element" href="/client">
                    <img src="/images/user.png" class="left-menu-image">
                    <span class="left-menu-link"> CLIENTS </span>
                </a>
                <a class="left-menu-element" href="/visit-time">
                <img src="/images/time.png" class="left-menu-image">
                <span class="left-menu-link"> VISIT TIME </span>
            </a>
            </div>
            <div id="data-form-place">
            </div>
        </div>
        <div class="left-menu-minimizer"></div>
        <div class="body">
            <div class="header">
                <span id="page-title">Visit Time</span>
            </div>
            <div class="footer-actions" id="action-buttons">
                <div class="searchContainer">
                    <img src="/images/people.png" class="search-icon">
                    <h5>Doctor</h5>
                </div>
                <div class="searchContainer">
                    <label for="date_input">Date:</label>
                    <input id="date_input" type="date"/>
                    <label for="doctor_name">Doctor:</label>
                    <select id="doctor_name" name="doctor">
                        <option value=""></option>
                    </select>
                </div>
                <div class="searchContainer">
                    <label for="department_name">Department:</label>
                    <select id="department_name" name="doctor">
                        <option value=""></option>
                    </select>
                    <label for="Position_name">Position:</label>
                    <select id="Position_name" name="doctor">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div id="body-content" class="body-content">

            </div>
            <div class="body-content">
                <div class="time-frame">
                    <div class="left-info-block">
                        <div class="date-time-info">
                            <span>07:30</span>
                            <span>24/03/2021</span>
                        </div>
                        <div class="doctor-info">
                            <span>Izite Babite</span>
                            <span>Clinit | Family Doctor | kab. 107</span>
                        </div>
                    </div>
                    <div class="right-info-block">
                        <div class="client-info">
                            <span>Vitalijs Vitalikus</span>
                            <span>160301-14527</span>
                        </div>
                        <div class="control-buttons-block">
                            <button class="visit-assign-button">+ Assign</button>
                            <button class="visit-cancel-button">- Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="footer-block">
                    <a class="logo-block" href="/client">
                        <img src="/images/main.png" alt="Logo image">
                        <span>Hospital</span>
                    </a>
                </div>
                <div class="footer-block tsi-info">
                    <span>Ilja and Anastasija coursework for the <a href="https://www.tsi.lv/en" target="_blank">TTI university</a></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    // TODO: search fields hierarchy: DEPARTMENT -> POSITION -> DOCTOR
    // TODO: when changing DEPARTMENT, it cleans POSITION and DOCTOR select tag
    // TODO: after that POSITION should load values that fit selected DEPARTMENT
    // TODO: after that DOCTOR should load values that fit loaded (not selected) POSITIONS
    // TODO: To do the same logic for POSITION tag selection
    // TODO: Run loading of <time frames with buttons> for registration on specific date (if it is selected)

    //TODO: work here
    $("#department_name").change(function() {
        $( "#department_name option:selected" ).each(function() {
            console.log("Handler for DEPARTMENT .change() called.");
            console.log($( this ).text());
            console.log($( this ).val());

            // removing other fields values
            $("#Position_name option").remove();
            $("#doctor_name option").remove();

            // loading that fit filter
            loadPositions($( this ).val());
            loadDoctors($( this ).val(), '');
        });
    });

    $("#Position_name").change(function () {
        $( "#Position_name option:selected" ).each(function() {
            console.log("Handler for POSITION .change() called.");
            console.log($( this ).text());
            console.log($( this ).val());
            // removing other fields values
            $("#doctor_name option").remove();

            // loading that fit filter
            loadDoctors('', $( this ).val());
        });
    });

    $( "#doctor_name").change(function() {
        $( "#doctor_name option:selected" ).each(function() {
            console.log("Handler for DOCTOR .change() called.");
            console.log($( this ).text())

            // removing other fields values

            // loading that fit filter
            //todo: check that date selected
            //todo: load time frames with Register Client button and Clear Registration button
            checkAndLoadTimeFrames();
        });
    });

    $("#date_input").change(function() {
        console.log("Handler for DATE .change() called.");
        checkAndLoadTimeFrames();
    });

    function checkAndLoadTimeFrames() {
        if ($('#date_input').val() === '') {
            console.log('date not selected');
            return;
        }

        var doctorId = $('#doctor_name option:selected').val();
        if (doctorId === '') {
            console.log('doctor not selected');
            return;
        }

        var date = new Date($('#date_input').val());
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        var dateString = [day, month, year].join('/');

        console.log(dateString);
        console.log(doctorId);

        loadTimeFrames(doctorId, dateString);
    }

    function loadTimeFrames(doctorId, dateString) {
        $.ajax({
            url: '/doctor/date-time/all',
            type: "post",
            data: "doctorId=" + doctorId + "&date=" + dateString,
            success: function (data) {
                if (data === 'Not Found!') {
                    alert('This data does not exist!');
                } else {
                    $("#body-content").html(data);
                }
            },
            error: function (e) {
                console.log("ERROR: ", e);
            }
        });
    }

    function loadDepartments() {
        $.ajax({
            url: '/departments/all',
            type: "post",
            // data: "id=" + id,
            success: function (data) {
                if (data === 'Not Found!') {
                    alert('This data does not exist!');
                } else {
                    $("#department_name").html(data);
                }
            },
            error: function (e) {
                console.log("ERROR: ", e);
            }
        });
    }

    function loadPositions(department) {
        $.ajax({
            url: '/positions/all',
            type: "post",
            data: "departmentId=" + department,
            success: function (data) {
                if (data === 'Not Found!') {
                    alert('This data does not exist!');
                } else {
                    $("#Position_name").html(data);
                }
            },
            error: function (e) {
                console.log("ERROR: ", e);
            }
        });
    }

    function loadDoctors(department, position) {
        $.ajax({
            url: '/doctors/all',
            type: "post",
            data: "departmentId=" + department + "&positionId=" + position,
            success: function (data) {
                if (data === 'Not Found!') {
                    alert('This data does not exist!');
                } else {
                    $("#doctor_name").html(data);
                }
            },
            error: function (e) {
                console.log("ERROR: ", e);
            }
        });
    }

    loadDepartments();
    loadPositions('');
    loadDoctors('', '');


</script>
